nav.navbar(role="navigation", ng-controller="NavbarCtrl", ng-cloak)
  .mainnav
    .container
      .navbar-header
        .navbar-toggle.snapper-toggle
          a(href="").fa.fa-bars
        a.navbar-brand#logo(href="#/", title="Ripple")
      .collapse.navbar-collapse
        ul.nav.navbar-nav.topMenu
          li#nav-wallet(ng-class="{active: $route.current.mainMenu == 'wallet'}")
            a(href="#/balance", l10n) Overview
          li#nav-send(ng-class="{active: $route.current.mainMenu == 'send'}", ng-hide="readOnly")
            a(href="#/send", l10n) Send
          li#nav-exchange(ng-class="{active: $route.current.mainMenu == 'exchange' || $route.current.mainMenu == 'trade'}", ng-show="!ripple_exchange_selection_trade && !readOnly")
            a(href="#/exchange", l10n) Trade
          li#nav-exchange(ng-class="{active: $route.current.mainMenu == 'exchange' || $route.current.mainMenu == 'trade'}", ng-show="ripple_exchange_selection_trade || readOnly")
            a(href="#/trade", l10n) Trade
          li#nav-fund(ng-class="{active: $route.current.mainMenu == 'fund'}")
            a(href="#/trust", l10n) Trust Lines
        ul.nav.navbar-nav.navbar-right
          li
            span(class="serverStatus {{connected ? 'online' : 'offline'}} {{serverLoad}}"
                ng-switch='serverStatus')
              span(ng-switch-when='disconnected'
                  rp-popover, rp-popover-placement='bottom', rp-popover-trigger='hover', rp-popover-delay
                  l10n-rp-popover-content="Disconnected from the Ripple network")
              span(ng-switch-when='highLoad'
                  rp-popover, rp-popover-placement='bottom', rp-popover-trigger='hover', rp-popover-delay
                  l10n-rp-popover-content="Network fees are currently higher than your maximum. Fee: {{ fee | rpamount }} LGD. <a href='#/advanced'>Change fees</a>")
              span(ng-switch-when='mediumLoad'
                  rp-popover, rp-popover-placement='bottom', rp-popover-trigger='hover', rp-popover-delay
                  l10n-rp-popover-content="'Network fees are currently higher than normal. Fee: {{ fee | rpamount }} LGD'")
              span(ng-switch-when='lowLoad'
                  rp-popover, rp-popover-placement='bottom', rp-popover-trigger='hover', rp-popover-delay
                  l10n-rp-popover-content="Connected to the Ripple network. Fee: {{ fee | rpamount }} LGD")
              span(ng-switch-when='connected'
                  rp-popover, rp-popover-placement="bottom", rp-popover-trigger="hover", rp-popover-delay
                  l10n-rp-popover-content="Connected to the Ripple network.")

          li.account(rp-popover, rp-popover-placement="left", rp-popover-trigger="hover", rp-popover-delay
              l10n-rp-popover-content="{{copyTooltip}}")
            p.navbar-text(ng-click="copy()") {{copyFeedback || userCredentials.account}}
              input.text-copy-helper(value="{{userCredentials.account}}")
          li.dropdown.notifications-dropdown(ng-show="onlineMode")
            a.dropdown-toggle.fa.fa-bell(ng-click="read()", data-toggle="dropdown")
              .number(ng-show="unseenNotifications.count") {{unseenNotifications.count}}
            ul#notifications.dropdown-menu
              li.message(ng-hide="loadState.transactions", l10n) Loading...
              li.message(ng-show="loadState.transactions && !notifications.length", l10n) There are no recent notifications.
              li.notification(
                ng-repeat="entry in notifications"
                ng-class="{unseen: entry.unseen}"
                ng-show="notifications.length"
                )
                .desc(ng-switch="entry.transaction.type")
                  .transaction(ng-switch-when="sent")
                    span(l10n) You sent
                      strong.nowrap  {{entry.transaction.amount | rpamount}} {{entry.transaction.amount | rpcurrency}}
                      |  to
                      span.address(title="{{entry.transaction.counterparty}}")  {{entry.transaction.counterparty | rpcontactnamefull }}
                    include ../tabs/history/_effects.jade
                  .transaction(ng-switch-when="received")
                    span.address(title="{{entry.transaction.counterparty}}", l10n)
                      span {{entry.transaction.counterparty | rpcontactnamefull }}
                      |  sent you
                      strong.nowrap  {{entry.transaction.amount | rpamount:{reference_date:entry.dateRaw} }} {{entry.transaction.amount | rpcurrency}}
                    include ../tabs/history/_effects.jade
                  .transaction(ng-switch-when="exchange")
                    include ../tabs/history/_effects.jade
                  .transaction(ng-switch-when="trusted")
                    span.address(title="{{entry.transaction.counterparty}}", l10n)
                      | {{entry.transaction.counterparty | rpcontactname}} now trusts you for
                    strong.nowrap  {{entry.transaction.amount | rpamount}}
                      | {{entry.transaction.amount | rpcurrency}}
                    include ../tabs/history/_effects.jade
                  .transaction(ng-switch-when="trusting")
                    span(l10n) You have now connected to the gateway&#32;
                      span.address(title="{{entry.transaction.counterparty}}")
                        | {{entry.transaction.counterparty | rpcontactname}}
                      span(l10n-inc) &#32;for&#32;
                      strong.nowrap {{entry.transaction.amount | rpamount:{reference_date:entry.dateRaw} }}
                        | {{entry.transaction.amount | rpcurrency}}
                      | .
                    include ../tabs/history/_effects.jade
                  .transaction(ng-switch-when="offernew")
                    include ../tabs/history/_effects.jade
                  .transaction(ng-switch-when="offercancel")
                    span(l10n) You cancelled an order accepting&#32;
                      strong.nowrap {{entry.transaction.pays | rpamount}}
                        | {{entry.transaction.pays | rpcurrency}}
                      |  for&#32;
                      strong.nowrap {{entry.transaction.gets | rpamount}}
                        | {{entry.transaction.gets | rpcurrency}}
                    include ../tabs/history/_effects.jade
                  .transaction(ng-switch-when="accountset", l10n)
                    | Account details have been changed
                  .transaction(ng-switch-when="setregularkey", l10n)
                    | Account regular key has been changed
                  .transaction(ng-switch-when="rippling")
                    span(l10n) Rippling
                    include ../tabs/history/_effects.jade
                  .transaction(ng-switch-when="failed", l10n)
                    | Failed transaction
                  .transaction(ng-switch-default)
                    include ../tabs/history/_effects.jade
                .date {{entry.date | rpfromnow}}
              li.history(ng-show="notifications.length")
                a(href="#/history", l10n) View Full History
          li.settings.dropdown
            a.dropdown-toggle.fa.fa-cog(data-toggle="dropdown")
            ul.dropdown-menu
              li: a(href="#/security", ng-hide="readOnly")
                i.icon-settings
                span(l10n) Settings
              li.divider
              li: a.logout(ng-click='logout()')
                i.icon-logout
                span(l10n) Log Out
  .subnav
    .container
      ul(ng-show="$route.current.mainMenu == 'wallet'")
        li(ng-class="{active: $route.current.tabName == 'balance'}")
          a(href="#/balance", l10n) Balance
        li(ng-class="{active: $route.current.tabName == 'history'}")
          a(href="#/history", l10n) History
        li(ng-class="{active: $route.current.tabName == 'contacts'}", ng-hide="readOnly")
          a(href="#/contacts", l10n) Contacts
      ul(ng-show="$route.current.mainMenu == 'exchange' || $route.current.mainMenu == 'trade'")
        li(ng-class="{active: $route.current.tabName == 'exchange'}", ng-hide="readOnly")
          a(href="#/exchange", l10n) Simple
        li(ng-class="{active: $route.current.tabName == 'trade'}")
          a(href="#/trade", l10n) Advanced
  .subnav(ng-show="invalidRegularWallet && !readOnly")
    .container
      .row
        .col-sm-12.notification-wrapper
          .alert.alert-default.text-center(l10n)
            .h4 This regular-key wallet is invalid. You may browse this account but cannot execute transactions.

  //- .subnav(ng-show="$route.current.mainMenu == 'fund'")
    .container
      ul
        li(ng-class="{active: $route.current.tabName == 'xrp'}")
          a(href="#/xrp", l10n) Fund
        li(ng-class="{active: $route.current.tabName == 'withdraw'}")
          a(href="#/withdraw", l10n) Withdraw

