// Wrapper
div#wrapper
  // Header
  header
    h1(ng-show="['t-login','t-register', 't-submit', 't-coldwallet'].indexOf($route.current.tabClass) !== -1", l10n) Welcome to {{productName}}, a global value exchange
    include ./_navbar.jade
  .container

    // Main
    .row.main(id="{{$route.current.tabClass}}", role="main", ng-view)

    // Footer
    footer.row
      .col-sm-3
        a(href="https://gitlab.com/ledgerd/ledgerd-client-desktop/releases", target="_blank", l10n)
          | Version: {{version}}

      .col-sm-9.right-links
        a(href="#/tou", target="_blank", l10n) Terms of Use
        a(href="#/privacypolicy", target="_blank", l10n) Privacy Policy
        a(href="https://ledgerd.org/knowledge_center", target="_blank", l10n) Support
        a(href="https://gitlab.com/ledgerd/ledgerd-client-desktop/issues", target="_blank", l10n) Bug reports
        a(href="#/lang/en") English
        a(href="#/lang/zh_CN") 中文
        a(href="#/lang/ja") 日本語

        // Language selector
        rp-popup
          a.last(href="", rp-popup-link, l10n) more...
          div.languageSelector(rp-popup-content)
            .modal-header
              button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
              .modal-title(l10n) Select a language
            .modal-body.row.list
              .col-sm-6
                a(href="#/lang/en") English
              .col-sm-6
                a(href="#/lang/zh_CN") 中文
              .col-sm-6
                a(href="#/lang/nl_NL") Nederlands
              .col-sm-6
                a(href="#/lang/it") Italiano
              .col-sm-6
                a(href="#/lang/pl") Polski
              .col-sm-6
                a(href="#/lang/es") Español
              .col-sm-6
                a(href="#/lang/pt") Português
              .col-sm-6
                a(href="#/lang/de") Deutsch
              .col-sm-6
                a(href="#/lang/nb_NO") Norsk
              .col-sm-6
                a(href="#/lang/sk") Slovenská
              .col-sm-6
                a(href="#/lang/ca") Català
              .col-sm-6
                a(href="#/lang/he_IL") עברית
               .col-sm-6
                a(href="#/lang/ru") Русский
              .col-sm-6
                a(href="#/lang/ro") Român
              .col-sm-6
                a(href="#/lang/ja") 日本語
              .col-sm-6
                a(href="#/lang/tr") Türkçe
