section.col-xs-12.content(ng-controller="BalanceCtrl")
  //- Disconnected

  group.disconnected(ng-hide="connected")
    p.literal(l10n) You have to be online to see this screen.
      span(ng-show="onlineMode")  Please make sure you are connected to the Internet and you have configured the correct 
        a(href='#advanced', l10n-inc) servers
        | .

  group.disconnected(ng-hide="!connected || loadState.account")
    p.literal(l10n) Loading...

  //- Connected
  //- Connected
  div(ng-show='!loadingAccount && !account.Balance && loadState.account && connected')
    include ../tabs/banner/_unfunded

  group(ng-show="connected && loadState.account")
    .row
      .col-xs-12
        .currency-summary
          .balancebox.currency-xrp
            .total.row.row-padding-small
              .lbl.col-xs-8
                a(href="", ng-click="entry.show=!entry.show")
                  i.icon-ripple-logo
                  | LGD – Ledger Dollar
              .balance.col-xs-2
                span(ng-show="account.Balance") {{ account.Balance | rpamount:{precision: 20, min_precision: 5, max_sig_digits: 20} }}
                span(ng-hide="account.Balance") 0
            .component.row.row-padding-small(ng-show="entry.show")
              .lbl.col-xs-8
                span(l10n) Available&#32;
                i.fa.fa-question-circle(
                  rp-popover
                  rp-popover-placement="bottom"
                  l10n-rp-popover-title="Available amount"
                  rp-popover-trigger="hover"
                  l10n-data-content="Total amount of LGD in your account minus the reserve amount.")
              .balance.col-xs-2
                span(ng-show="account.max_spend") {{account.max_spend | rpamount:{precision: 20 , min_precision: 6, max_sig_digits: 20} }}
                span(ng-hide="account.max_spend") 0
            .component.row.row-padding-small(ng-show="entry.show")
              .lbl.col-xs-8
                span(l10n) Reserve&#32;
                i.fa.fa-question-circle(
                  rp-popover
                  rp-popover-placement="bottom"
                  l10n-rp-popover-title="Reserve amount"
                  rp-popover-trigger="hover"
                  l10n-data-content="Minimum amount of LGD required to fund your account. You cannot spend the reserve.")
              .balance.col-xs-2
                span(ng-show="account.reserve") {{ account.reserve | rpamount:{precision: 20, min_precision: 6, max_sig_digits: 20} }}
                span(ng-hide="account.reserve") 0
          //- TODO Determine currencies order
          .balancebox.currency-non-native(ng-repeat="entry in balances", ng-class="'currency-' + (entry.total | rpcurrency | lowercase)")
            .total.row.row-padding-small
              .lbl.col-xs-8
                a(href="", ng-click="entry.show=!entry.show")
                  i(class="icon fa fa-money", ng-class="'fa-' + (entry.total | rpcurrency | lowercase)")
                  span(rp-currency="entry.total", rp-currency-full)
              .balance.col-xs-2
                a(href="", ng-click="entry.show=!entry.show") {{ entry.total | rpamount:{precision: 20, min_precision: 5, max_sig_digits: 20} }}
            //- TODO Remember selections
            .component.row.row-padding-small(ng-repeat="(issuer, component) in entry.components", ng-show="entry.show")
              .head
                .lbl.col-xs-8(ng-show="component.gateway.app") {{component.gateway.app.name}}
                  span.status.unverified(ng-hide="true", l10n) Unverified
                .lbl.balance-text-wrapper.col-xs-8(ng-hide="component.gateway.app", rp-pretty-identity="issuer"
                  rp-pretty-issuer-contacts="userBlob.data.contacts")
                .balance.col-xs-2 {{ component | rpamount:{precision: 20, min_precision: 6, max_sig_digits: 20} }}