section.col-xs-12.content(ng-controller="ContactsCtrl")
  div(ng-show="!loadingAccount && !account.Balance && loadState.account && connected && !debug")
    include ../tabs/banner/_unfunded

  .row.row-padding-small.head.hidden-xs
    .col-xs-3.col-sm-3.col-md-3(l10n) Contact
    .col-xs-6.col-sm-5.col-md-7(l10n) Ledgerd address
    .col-xs-12.col-sm-4.col-md-2.text-right
      a.btn.btn-block.btn-success.btn-sm.sign(ng-click='toggle_form()', ng-disabled='addform_visible', l10n) Add contact
  hr
  .row.row-padding-small.addForm(ng-show='addform_visible')
    .col-xs-12.col-md-6.col-sm-8
      form#addForm(name="addForm", ng-submit="create()", rp-unique-scope)
        .form-group
          label(for='Name', l10n) Contact
          input.form-control.input-lg.name#name(name='name', type='text', step='any', maxlength="70"
            ng-model='contact.name'
            rp-unique='userBlob.data.contacts'
            rp-unique-field='name'
            rp-autofill='$routeParams.name', rp-autofill-on='addform_visible = true'
            required
            rp-focus)
          .errorGroup(rp-errors='name')
            .error(rp-error-on='required', l10n) Please enter a contact.
            .error(rp-error-on='rpUnique', l10n)
              | This contact already exists.
        .form-group
          div
            label(for='address_desktop', l10n) Ripple address
            .spinnerEnabledInput
              input.form-control.input-lg.address#address_desktop(
                name='address_desktop', type='text', step='any'
                ng-model='contact.view'
                rp-dest, rp-dest-address
                rp-dest-model="contact.address", rp-dest-loading="address_loading"
                rp-unique='userBlob.data.contacts'
                rp-unique-field='address'
                rp-unique-group='address-dt-desktop'
                rp-spinner="{{address_loading ? 4 : null}}"
                rp-autofill='$routeParams.to', rp-autofill-on='addform_visible = true'
                required)
            .errorGroup(rp-errors='address_desktop')
              .error(rp-error-on='required', l10n) Please enter a Ripple address.
              .error(rp-error-on='rpUnique', l10n) You already have a contact with the same Ripple address and/or the same Destination tag.
              .error(rp-error-on='rpDest', l10n) Not a valid Ripple address.
        .form-group
          div
            label(for='dt_desktop', l10n) Destination tag
            input.form-control.input-lg.dt#dt_desktop(
              name='dt_desktop', type='text', step='any'
              l10n-placeholder="Leave blank if not applicable"
              ng-model='contact.dt'
              rp-unique='userBlob.data.contacts'
              rp-unique-field='dt'
              rp-unique-group='address-dt-desktop'
              rp-stdt
              rp-autofill='$routeParams.dt')
            .errorGroup(rp-errors='dt_desktop')
              .error(rp-error-on='rpStdt', l10n) Invalid destination tag
              .error(rp-error-on='rpUnique', l10n) You already have a contact with the same Ripple address and/or the same Destination tag.
        .row
          .col-xs-8.col-sm-8.col-md-9.text-left
            button.btn.btn-success.btn-block.submit.custom-btn(type='submit', ng-disabled='addForm.$invalid', l10n) Add contact
          .col-xs-4.col-sm-4.col-md-3.text-center
            button.btn.btn-default.btn-block.custom-btn.btn-cancel(type='button', ng-click='addform_visible = false', l10n) cancel

  .row.row-padding-small.contact(ng-repeat="entry in userBlob.data.contacts"
    ng-class="{editing: editing}", ng-controller="ContactRowCtrl")
    .col-xs-3.col-md-3.col-sm-3(ng-hide='editing')
      span.name(ng-hide='editing') {{entry.name}}
    .col-xs-12.col-sm-6.col-md-6(ng-hide='editing')
      div
        b {{entry.address | rpaddressorigin}}: {{entry.address}}
    .col-xs-6.col-sm-3.col-md-3.text-right.pull-right(ng-hide='editing')
      .row
        .col-xs-4.col-md-4.col-sm-4(ng-hide='editing')
          button.edit.btn.btn-block.btn-default.btn-sm.btn-link(ng-click='edit($index)', l10n) edit
        //- .col-xs-4.col-md-4.col-sm-4(ng-hide='editing')
        //-   button.editing.btn-block.btn.btn-default.btn-sm.btn-cancel(ng-click='cancel($index)', l10n) cancel
        .col-xs-8.col-md-8.col-sm-8(ng-hide='editing')
          button.send.btn.btn-block.btn-primary.btn-sm(ng-click='send($index)', l10n) Send
    .col-xs-12
      div.row(ng-show='editing')
        div.col-md-3.col-sm-4.col-xs-12.contact-input-wrapper
          ng-form.inline-name-form(name='inlineName')
            input.form-control(name='editname', type="text", class="inline", maxlength="70"
              ng-model='editname'
              rp-unique='userBlob.data.contacts'
              rp-unique-field='name'
              rp-unique-orig='entry.name'
              ng-enter="update($index)")
            .errorGroup(rp-errors='editname')
              .error(rp-error-on='rpUnique', l10n)
                | You already have a contact with the same name.
        div.col-md-4.col-sm-4.col-xs-12.address-wrapper
          ng-form(name='inlineAddress')
            input.form-control.inline(
              name='editaddress', type="text"
              ng-model='editaddress'
              rp-unique='userBlob.data.contacts'
              rp-unique-field='address'
              rp-unique-orig='entry.address'
              rp-dest, rp-dest-address
              ng-enter="update($index)")
            .errorGroup(rp-errors='editaddress')
              .error(rp-error-on='rpUnique', l10n) You already have this address.
              .error(rp-error-on='rpDest', l10n) Not a valid address.
            .form-group
              label(for="contact_dt", l10n) Destination tag
              input.form-control.dt.inline#contact_dt(
                name='dt', type='text', step='any'
                placeholder="Leave blank if not applicable"
                ng-model='editdt'
                rp-stdt
                rp-autofill='$routeParams.dt'
                ng-enter="update($index)")
              .errorGroup(rp-errors='dt')
                .error(rp-error-on='rpStdt', l10n) Invalid destination tag.
        div.col-md-5.col-sm-4.col-xs-12
          .row
            .col-xs-4.col-md-4
              button.save.btn.btn-block.btn-success(
                ng-disabled="inlineAddress.editaddress.$error.rpUnique || inlineName.editname.$error.rpUnique || inlineAddress.editaddress.$error.rpDest"
                ng-click='update($index)', l10n) Save
            .col-xs-4.col-md-4
              rp-confirm(
                action-text="Are you sure you want to delete this contact?"
                action-button-text="Delete"
                action-button-css="btn btn-default btn-danger delete-contact-btn"
                action-function="remove($index)"
                cancel-button-css="btn btn-default cancel-btn btn-cancel"
                cancel-button-text="Cancel"
                ng-hide="showPassword==true")
                  a.btn.btn-danger.btn-block(href="", l10n) Delete
            .col-xs-4.col-md-4(ng-show='editing')
              button.editing.btn-block.btn.btn-default.btn-sm.btn-cancel(ng-click='cancel($index)', l10n) cancel        
  div(ng-hide="userBlob.data.contacts.length", l10n) You don't have any contacts yet.
    |  Click on 'Add contact' button in the top right corner to add a new contact.
