section.col-xs-12.content(ng-controller="ExchangeCtrl")

  //- Disconnected

  group.disconnected(ng-hide="connected")
    p.literal(l10n) You have to be online to see this screen

  group.disconnected(ng-hide="!connected || loadState.account")
    div(id="section_loader")
      div(class="loading_sections", l10n) Loading... 

  div(ng-show="!loadingAccount && !account.Balance && loadState.account && connected")
    include ../tabs/banner/_unfunded
    p.literal(l10n="err-you-must-be-funded-before-you-can-exchange-money") You have to be funded before you can convert    

  //- Connected

  form.mode-form#exchangeForm(name="exchangeForm", ng-show='mode=="form" && account.Balance && connected', ng-submit='exchange_prepared()')
    .form-group
      label(for='amount', l10n="Receive (amount)") Receive
      .row.row-padding-small.amount
        .col-sm-2.col-md-2.col-xs-3
          input.value.form-control#amount(
          name='amount', type='text'
          ng-model='exchange.amount'
          required
          rp-autofill='$routeParams.amount'
          rp-autofill-amount
          rp-amount
          rp-amount-positive)
        .col-sm-6.col-md-4.col-xs-9
          input.currency.form-control#amount_currency(
          name='amount_currency', type='text'
          rp-combobox="currency_choices", rp-combobox-select
          ng-model='exchange.currency_name'
          rp-autofill='$routeParams.amount'
          rp-autofill-currency)
      .errorGroup(rp-errors='amount')
        .error(rp-error-on='required', l10n) Please enter an amount.
        .error(rp-error-on='rpAmount', l10n) Not a valid amount.
        .error(rp-error-on='rpAmountPositive', l10n)
          | Please enter an amount greater than zero.
      p.literal(ng-show="exchange.path_status == 'waiting'")
      p.literal.throbber(ng-show="exchange.path_status == 'pending'", l10n) Calculating...
      //- TODO how high trust?
      p.literal(ng-show="exchange.path_status == 'no-path' && exchange.currency_code != 'LGD'", l10n)
        | Cannot convert to {{exchange.amount}} {{exchange.currency_name}}. Please make sure your account has enough funds, and a&#32;
        a(href="https://ripple.com/knowledge_center/gateways/", target="_blank") connection 
        |  to a {{exchange.currency_name}} gateway.
      p.literal(ng-show="exchange.path_status == 'no-path' && exchange.currency_code == 'LGD'", l10n)
        | Sorry! Cannot convert {{exchange.amount}} {{exchange.currency_name}}. Please make sure your account has enough funds.
      p.literal(ng-show="exchange.path_status == 'error'", l10n) Error while calculating path

    .currency_sets
      .row.row-padding-small(ng-if="exchange.path_status == 'done'")
        .col-xs-12(l10n) Exchange
      .row.row-padding-small.alternatives
        .col-xs-12.col-sm-6.col-md-4(ng-repeat="alt in exchange.alternatives")
          .am
            span.amnt {{alt.amount | rpamount:{precision: 20, min_precision: 6, max_sig_digits: 20} }}
            span(ng-hide="alt.amount.is_native() || alt.amount.issuer() == account.Account")
              span.issuer(
                rp-pretty-issuer="alt.amount.issuer()"
                rp-pretty-issuer-contacts="userBlob.data.contacts"
                rp-pretty-issuer-or-short)
            span.currency  {{alt.amount | rpcurrency }}
            .ex (
              span.rate {{alt.rate | rpamount:{precision: 20, min_precision: 6, max_sig_digits: 20} }}
              span.pair {{exchange.currency_code}}/{{alt.amount | rpcurrency}}
              | )
          button.btn.btn-block.btn-success(type="submit", ng-disabled='exchangeForm.$invalid', ng-click="exchange.alt = alt", l10n)
            | Exchange {{ alt.amount | rpcurrency }}
            span(ng-hide="alt.amount.is_native() || alt.amount.issuer() == account.Account")  (
              span.issuer(
                rp-pretty-issuer="alt.amount.issuer()"
                rp-pretty-issuer-contacts="userBlob.data.contacts"
                rp-pretty-issuer-or-short)
              | )
      .row.pathupdate(ng-show="exchange.alternatives.length && lastUpdate")
        .col-xs-12(l10n) Paths last updated
          span  {{lastUpdate}}
          span(ng-show="lastUpdate > '1'", l10n-inc)  seconds
          span(ng-show="lastUpdate == '1'", l10n-inc)  second
          |  ago

  //- N2. Waiting for path

  group.mode-wait-path(ng-show='mode=="wait_path" && account.Balance')
    p.throbber.literal(l10n) Ripple is calculating a path for your conversion.

  //- N3. Confirmation page

  group.mode-confirm(ng-show='mode=="confirm" && account.Balance')
    span(l10n)
      p.literal(l10n-inc) You are exchanging
      p.amount_feedback
        span.value {{exchange.alt.amount | rpamount:{precision: 20, min_precision: 6, max_sig_digits: 20} }}&#32;
        span.currency {{exchange.alt.amount | rpcurrency}}
      p.literal(l10n-inc) to
      p.amount_feedback
        span.value {{exchange.amount_feedback | rpamount:{precision: 20, min_precision: 6, max_sig_digits: 20} }}&#32;
        span.currency {{exchange.amount_feedback | rpcurrency}}
      p.literal(l10n-inc) You will pay at most
      p.amount_feedback
        span.value {{exchange.alt.amount | rpamount:{precision: 20, min_precision: 6, max_sig_digits: 20} }}&#32;
        span.currency {{exchange.alt.amount | rpcurrency}} &#32;
        span &plusmn; 1%
      p.literal(l10n-inc) Are you sure?
    .row.row-padding-small
      .col-xs-6.col-sm-4.col-md-3.col-lg-2
        button.btn.btn-block.btn-success.submit(type='submit'
        ng-click='exchange_confirmed()'
        ng-disabled='confirm_wait', l10n) Confirm
      .col-xs-6.col-sm-4.col-md-3.col-lg-2
        button.btn.btn-link.btn-default.back(ng-click='cancelConfirm()', l10n) cancel


  //- N4. Waiting for transaction result page

  group.mode-sending(ng-show='mode=="sending" && account.Balance')
    include ../messages/sendconvert/_waiting
    hr
    //- p: button.btn.btn-default(ng-click='reset()', l10n) Stop waiting

  //- N5. Error page
  group.mode-error(ng-show='mode=="error" && account.Balance')
    include ../messages/sendconvert/_localerror
    p: button.btn.btn-link.btn-default(ng-click='cancelConfirm()', l10n) cancel

  //- N6. Confirmed page 

  group.mode-status(ng-show='mode=="status" && account.Balance')
    include ../messages/sendconvert/_confirmation
    group.actions
      hr
      div(class="actionLink")
        a(href="", ng-click="reset()", l10n) Do another conversion
      div(class="actionLink")
        a(href="", ng-click="reset_goto('balance')", l10n) Back to balance
      hr
