section.col-xs-12.content(ng-controller="TrustCtrl")

  div(ng-show="!loadingAccount && (!account.Balance && connected) && loadState.account")
    include ../tabs/banner/_unfunded

  group(ng-show="(connected && loadState.lines) || !onlineMode")
    //- N1. Trust form
    .row
      .col-sm-12
        //- N5. Notifications for connect new account
        group.mode-granted.wide(ng-show='mode=="granted" && account.Balance')
          group.pending(ng-show='tx_result=="pending"')
            h2.tx-status(l10n) Adding a trust line to your Ripple account...
          group.result-success(ng-show='tx_result=="cleared"')
            h2.tx-status(l10n) Trust Line created.
          group.result-error(ng-show='tx_result=="error"')
            h2.tx-status(l10n) Trust Line could not be created!
            p(l10n) There was a problem creating the trust line. Please try again later.
          group.result-malformed(ng-show='tx_result=="malformed"')
            h2.tx-status(l10n) There was a problem creating the trust line. Please try again later.
            p(l10n) Your request is invalid, reason: {{engine_result}} - {{engine_result_message}}
          group.result-failed(ng-show='tx_result=="failed"')
            h2.tx-status(l10n) Trust Line creation failed!
            p(ng-switch="engine_result")
              span(ng-switch-when="terNO_LINE", l10n) You have no counterparty in this currency.
              span(ng-switch-when="tecINSUF_RESERVE_LINE", l10n) Insufficient reserve to add a trust line.
              span(ng-switch-when="tecNO_LINE_INSUF_RESERVE", l10n) You must have at
                |  least {{account.reserve_to_add_trust | rpamount:0}} LGD to add a trust line.&#32;
                a(href="http://ripple.com/help/#reserve", l10n) Read more.
              span(ng-switch-default, l10n) Trust Line creation failed to clear,
                |  reason: {{engine_result_message}}
          group.result-failed(ng-show='tx_result=="local"')
            h2.tx-status(l10n) Transaction failed!
            p(ng-switch="engine_result")
              span(ng-switch-when="telINSUF_FEE_P", l10n)
                | The particular server you sent the transaction to was too busy to forward or process
                |  your transaction at the fee you included in it.
      .col-sm-12
        group.mode-granted.wide(ng-show='notif !== "clear"')
          group(ng-switch="notif")
            //- Notifications for edit account
            group.pending(ng-switch-when="loading")
              h2.tx-status(l10n) Saving changes...
            group.result-success(ng-switch-when="success")
              h2.tx-status(l10n) Changes saved!
            group.result-error(ng-switch-when="error")
              h2.tx-status(l10n) There was an error while saving your changes.&#32;
              p(l10n) Please try again later.

            //- Notifications for removing account
            group.pending(ng-switch-when="remove_trustline")
              h2.tx-status(l10n) Removing trust line...
            group.result-success(ng-switch-when="trustline_removed")
              h2.tx-status(l10n) Trust Line removed!
            group.result-error(ng-switch-when="max_fee")
              h2.tx-status(l10n) Request failed.
              p(l10n) This request failed because the current network fee is higher than your account limit. You can adjust your maximum network fee in Settings &gt; Advanced, or try again later. <br>
                | Error code: Network fee exceeded [tejMaxFeeExceeded].

      .col-sm-12(ng-show='addform_visible && !can_add_trust')
        .alert.alert-warning(l10n) You must have at least
          strong  {{account.reserve_to_add_trust | rpamount:0}} LGD
          |  to add a new trust line.&#32;
          a(href="https://ripple.com/build/reserves/", target="_blank") More information
    .row

      .col-sm-12.trust-menu
        .row.row-padding-small.head(ng-hide='true')
          .col-sm-5(l10n) Name / Address
          .col-sm-2
            a(href="", ng-click="sorting.predicate = 'currency'; sorting.reverse=!sorting.reverse", l10n) Currency
          .col-sm-2
            a(href="", ng-click="sorting.predicate = 'balance'; sorting.reverse=!sorting.reverse", l10n) Balance
          .col-sm-2(l10n) Trust Limit
        .row
          .col-xs-12
            form.row-padding-small#trustForm(name='trustForm',
              ng-show='mode=="main" && (addform_visible && can_add_trust)')
              .errorGroup(rp-errors='trust_amount')
                .error(rp-error-on='required', l10n) Amount field is required
              .errorGroup(rp-errors='trust_amount_currency')
                .error(rp-error-on='rpNotXrp', l10n)
                  | LGD can be sent without extending trust. If you really want
                  |  to trust in LGD, please use XRR currency code.
              .row
                .col-xs-12.col-sm-10.col-md-9.form-group
                  label(for="trust_counterparty", l10n) Counterparty Address
                  input.form-control#trust_counterparty(
                    name='trust_counterparty', type='text', rp-combobox="counterparty_query"
                    ng-model='counterparty'
                    rp-dest, rp-dest-address, rp-dest-contact, rp-not-me, rp-dest-email
                    rp-dest-model="counterparty"
                    rp-dest-loading="counterparty_loading"
                    required
                    rp-autofill='$routeParams.to'
                    rp-autofill-counterparty_view
                    rp-autofill-on='addform_visible = true'
                    rp-focus, rp-spinner="{{counterparty_loading ? 4 : null}}")
                  .errorGroup(rp-errors='trust_counterparty')
                    div(rp-error-valid)
                      .success(ng-show='counterparty != counterparty_address && counterparty_name && !error_account_reserve')
                        | {{counterparty_address}}
                      .error(ng-show='error_account_reserve')
                        span(l10n) Account does not meet the minimum LGD reserve.&#32;
                        a(href="https://ripple.com/wiki/Account_Creation", target="_blank", l10n)
                          | More information
                    .error(rp-error-on='required', l10n) Please enter a Ripple address or contact.
                    .error(rp-error-on='rpNotMe', l10n) You've entered your own address.
                    .error(rp-error-on='rpDest', l10n) Please enter a valid Ripple address or contact.
              .row
                .col-xs-12.form-group
                  label(for='trust_amount', l10n) Amount
                  .row
                    .col-md-3.col-sm-4.col-xs-3
                      input.form-control.value#trust_amount(name='trust_amount'
                        type='number', min='0', step='any', ng-model='amount'
                        rp-autofill='$routeParams.amount'
                        rp-autofill-amount
                        rp-autofill-on='addform_visible = true')
                    .col-md-6.col-sm-6.col-xs-9
                      input.form-control.currency-field#trust_amount_currency(name='trust_amount_currency', type='text'
                        ng-model='currency', rp-combobox="currency_query", rp-combobox-select
                        rp-autofill='$routeParams.currency || $routeParams.amount'
                        rp-autofill-currency
                        rp-autofill-on='addform_visible = true'
                        rp-not-xrp
                        required)
                  .errorGroup(rp-errors='trust_amount')
                    .error(rp-error-on='required', l10n) Amount field is required
                  .errorGroup(rp-errors='trust_amount_currency')
                    .error(rp-error-on='rpNotXrp', l10n)
                      | LGD can be sent without extending trust. If you really want
                      |  to trust in LGD, please use XRR currency code.
                    .error(rp-error-on='required', l10n)
                      | Currency field is required
              .row
                .col-sm-3.allow-rippling.form-group-sm
                  label(for="tfSetfAuth", l10n) Set Authorization
                  i.fa.fa-question-circle.help-icon(
                    rp-popover
                    rp-popover-placement="bottom"
                    l10n-rp-popover-title="Set Authorization"
                    rp-popover-trigger="click"
                    l10n-data-content="{{setAuthMessage}} <a href=https://ripple.com/build/transactions/#trustset-flags target=_blank>More information</a>")
                  select.form-control(
                    name='trust_tfSetfAuth',
                    ng-model='authFlag', ng-disabled='onlineMode && disallowAuth')
                    option(value='') Default
                    option(value='tfSetfAuth') Authorize trust line
                .col-sm-3.allow-rippling.form-group-sm
                  label(for="allowrippling") Allow Rippling
                  i.fa.fa-question-circle.help-icon(
                    rp-popover
                    rp-popover-placement="bottom"
                    l10n-rp-popover-title="Allow Rippling"
                    rp-popover-trigger="click"
                    l10n-data-content="{{setAuthMessage}} <a href=https://ripple.com/build/transactions/#trustset-flags target=_blank>More information</a>")
                  select.form-control(
                    name='trust_allowrippling',
                    ng-model='ripplingFlag', required)
                    option(value='') Choose rippling
                    option(value='tfClearNoRipple') Allow Rippling
                    option(value='tfSetNoRipple') Disallow Rippling
                .col-sm-3.allow-rippling.form-group-sm
                  label(for="trust_allowrippling") Set Freeze
                  i.fa.fa-question-circle.help-icon(
                    rp-popover
                    rp-popover-placement="bottom"
                    l10n-rp-popover-title="Set Freeze"
                    rp-popover-trigger="click"
                    l10n-data-content="Freeze the trust line <a href=https://ripple.com/build/transactions/#trustset-flags target=_blank>More information</a>")
                  select.form-control(
                    name='trust_tfSetFreeze'
                    ng-model='freezeFlag')
                    option(value='') Default
                    option(value='tfSetFreeze') Freeze trust line
                    option(value='tfClearFreeze') Unfreeze trust line
              .row
                .col-xs-8.col-sm-7.col-md-6
                  rp-popup(rp-popup-on-open="grant()") 
                    button.btn.btn-block.btn-primary.submit(rp-popup-link, ng-disabled='trustForm.$invalid || verifying', l10n) Save
                    div.connectModal(rp-popup-content)
                      .modal-header
                        .navbar-brand.hidden-sm.modal-logo#logo
                        .modal-title(l10n) Connect
                      .modal-body
                        div.modal-prompt(l10n) 
                          div(l10n-inc) You are adding a trust line, which means
                          div(l10n-inc) {{ counterparty_address }} can:
                        div.grey-focus(l10n)
                          span.modal-permissions(l10n-inc) - Hold up to&#32;
                          span(rp-pretty-amount="amount_feedback")
                          span.modal-permissions(l10n-inc)  on your behalf
                        div.modal-buttons
                          button.modal-btn.btn.btn-default.btn-success.btn-md(data-dismiss="modal", ng-click="grant_confirmed()",
                            rp-spinner='{{loading ? 4 : null}}', ng-disabled="loading")
                            span(ng-show="loading", l10n) Loading...
                            span(ng-hide="loading", l10n) Confirm
                          button.modal-btn.btn.btn-cancel.btn-md.btn-cancel(data-dismiss="modal",
                            ng-click='toggle_form()', ng-hide="loading", l10n) cancel
                .col-xs-4.col-sm-3.col-md-3
                  button.btn.btn-block.btn-cancel(type="button", ng-click='toggle_form()', l10n) cancel
              .row.delete-trust
                .col-xs-6.col-sm-6.col-md-8.col-lg-9(ng-show='balance !== "0" && orderbookStatus === "exists" && onlineMode')
                  rp-confirm(
                    action-text="Are you sure you want to remove this trust line? Ripple Admin Console will attempt to convert the remaining balance of {{ trust.balance }} {{ trust.currency }} into LGD. This action can't be undone."
                    action-button-text="Convert balance and remove"
                    action-button-css="btn btn-default btn-danger"
                    action-function="delete_line()"
                    cancel-button-css="btn btn-cancel"
                    cancel-button-text="cancel"
                    ng-hide="showPassword==true")
                      button.btn.btn-block.btn-danger.btn-xs.submit(type="button", ng-click="load_orderbook()", l10n) Remove
                .col-xs-6.col-sm-6.col-md-8.col-lg-9(ng-show='balance !== "0" && orderbookStatus === "not" && onlineMode')
                  rp-confirm(
                    action-text="Are you sure you want to remove this trust line? Ripple Admin Console will return the balance of {{ trust.balance }} {{ trust.currency }} to the issuer. This action can't be undone."
                    action-button-text="Return balance and remove"
                    action-button-css="btn btn-default btn-danger"
                    action-function="delete_line()"
                    cancel-button-css="btn btn-cancel"
                    cancel-button-text="cancel"
                    ng-hide="showPassword==true")
                      button.btn.btn-block.btn-danger.btn-xs.submit(type="button", ng-click="load_orderbook()", l10n) Remove
                .col-xs-6.col-sm-6.col-md-8.col-lg-9(ng-show='balance === "0" && onlineMode')
                  rp-confirm(
                    action-text="Are you sure you want to remove this trust line? This action can't be undone."
                    action-button-text="Remove"
                    action-button-css="btn btn-default btn-danger"
                    action-function="delete_line()"
                    cancel-button-css="btn btn-cancel"
                    cancel-button-text="cancel"
                    ng-hide="showPassword==true")
                      button.btn.btn-block.btn-danger.btn-xs.submit(type="button", ng-click="load_orderbook()", l10n) Remove
              .row
                .col-xs-12
                  p.literal.throbber.verifying(ng-show="verifying", l10n) Verifying address

          //- Offline Sending
          group.mode-status(ng-show='mode=="offlineSending"')
            signed-transaction(data="{{signedTransaction}}", txJSON="{{txJSON}}", hash="{{hash}}")

          div.row.row-content(ng-show="mode==='offlineSending' || (onlineMode && mode === 'granted')")
            .col-xs-12
              .text-success(ng-show='addressSaved', class="actionLink", l10n) Contact saved!
              .save-address-form(ng-show="!contact", class="actionLink")
                a(href="", ng-click='show_save_address_form = true', ng-hide='addressSaved', l10n)
                  | Add this address to contacts
                form(name="saveAddressForm", ng-class="{ show: show_save_address_form }"
                ng-submit='saveAddress()')
                  .address {{counterparty_address}}
                  label(for='save_address_name', l10n) Name this user
                  input.form-control#contact_name(
                  name='save_address_name', type="text"
                  ng-model='saveAddressName', unique, ng-required='true'
                  rp-autofill='$routeParams.name')
                  .error(ng-show='saveAddressForm.save_address_name.$error.unique', l10n)
                    | You already have a contact with the same name.
                  div.row.add-contact-btns-wrapper
                    div.col-md-3.col-sm-4.col-xs-8
                      button.btn.btn-success.btn-block(type='submit'
                        ng-disabled='addressSaving || saveAddressForm.$invalid')
                        span(ng-show='addressSaving', l10n) Saving...
                        span(ng-hide='addressSaving', l10n) Save
                    div.col-md-1.col-sm-2.col-xs-4
                      a.btn.btn-block(href="", ng-click='show_save_address_form = false', l10n) cancel
              div(class="actionLink")
                a(href="", ng-click="toggle_form()", l10n) Back to trustlines


        .row
          .unfunded.literal(ng-hide='account.Balance || !onlineMode', l10n)
            | Your account has to be activated before you can add a counterparty account.

        //- Account is funded
        .row(ng-hide="readOnly")
          .col-xs-12.col-sm-4.col-md-3.actions.btn-add-trust
            a.btn.btn-primary.btn-sm.btn-block.sign(ng-click='toggle_form()', ng-show="mode === 'main' && (!addform_visible && ((account.Balance && connected) || !onlineMode))",
            ng-disabled='addform_visible', l10n) Add trust line

        div.disconnected(ng-hide="onlineMode")
          p.literal(l10n) Trust line information is not displayed in offline mode    

        .currencyBox(ng-repeat="entry in accountLines", ng-class="'currency-' + (entry.components[0].currency | lowercase)")
          .currencyTitle
            i(class="icon fa fa-money", ng-class="'fa-' + (entry.components[0].currency | lowercase)")
            span.currency(rp-currency="entry.components[0].limit", rp-currency-full)
          .row.row-padding-small.head
            div.col-sm-2(l10n) Counterparty
            div.col-sm-2(l10n) Balance
            div.col-sm-2(l10n) Limit
            div.col-sm-2(l10n) Min
            div.col-xs-1(l10n) Rippling
            div.col-xs-1(l10n) Frozen
            div.col-xs-1(l10n) Auth
            div.col-xs-1(ng-hide="readOnly"
              l10n) Edit
          hr#divider
          .lines
            .line(ng-controller="AccountRowCtrl", ng-repeat="component in entry.components")
              //- Offline Sending
              group.mode-status(ng-show='mode=="offlineEdit"')
                signed-transaction(data="{{signedTransaction}}", txJSON="{{txJSON}}", hash="{{hash}}")
                group.actions
                  div(class="actionLink")
                    a(href="", ng-click="close_sign_form()", l10n) Close
              .row.row-padding-small(ng-class="{ 'frozen-account': component.freeze_peer }")
                div.gateway.col-sm-2(
                  rp-pretty-identity="component.account", rp-pretty-identity-filters="rpcontactnamefull"
                  )
                div.col-sm-2
                  | {{ component.balance | rpamount:{precision: 20, min_precision: 6, max_sig_digits: 20} }}
                div.col-sm-2
                  div {{ component.limit | rpamount }}
                .col-sm-2(ng-show="component.limit_peer._offset == '-100'") {{ component.limit_peer | rpamount }}
                .col-sm-2(ng-show="component.limit_peer._offset !== '-100'", ng-hide="component.limit_peer._offset == '-100'") -{{ component.limit_peer | rpamount }}
                .col-sm-1
                  div(ng-show="component.no_ripple", l10n) Off
                  div(ng-hide="component.no_ripple", l10n) On
                .col-sm-1
                  div(ng-show="component.freeze", l10n) Yes
                  div(ng-hide="component.freeze", l10n) No
                .col-sm-1
                  div(ng-show="component.authorized", l10n) Yes
                  div(ng-hide="component.authorized", l10n) No
                div.trustLineEdit.btn.btn-cancel.btn-xs.col-sm-1(ng-click="edit_account()"
                  ng-hide="component.freeze_peer || editing || readOnly", l10n) edit

                //- Account Freeze
                div.col-xs-2(ng-show="component.freeze_peer")
                  i.fa.fa-lock(
                    rp-popover
                    rp-popover-placement="bottom"
                    rp-popover-title='Account Frozen'
                    rp-popover-trigger="click"
                    data-content='This account has been frozen. Please contact the issuer to unfreeze your account. <a href=https://ripple.com/wiki/Freeze target=_blank>More about freezing</a>')
              .editBox(ng-show="editing")
                form(ng-class="{ 'frozen-account': component.freeze_peer }"
                ng-submit="save_account()")
                  ng-form(name="accountForm")
                    .row.row-padding-small
                      .col-sm-offset-4.col-sm-2
                        label(for='limit', l10n) Limit
                        input.form-control#limit(name='limit', type='number'
                        ng-model='trust.limit', ng-pattern='validation_pattern'
                        ng-disabled='trust.loading', required)
                      .col-sm-offset-2.col-sm-1.form-group-sm
                        label(for='edit_rippling', l10n) Rippling
                        select.form-control#edit_rippling(name='edit_rippling', ng-model='trust.ripplingFlag'
                        ng-disabled="component.balance !== '0' && isIncomingOnly() && ripplingEnabled()")
                          option(value='') No change
                          option(value='tfClearNoRipple') Allow Rippling
                          option(value='tfSetNoRipple') Disallow Rippling
                      .col-sm-1.form-group-sm
                        label(for='edit_freeze', l10n) Freeze
                        select.form-control#edit_freeze(name='edit_freeze', ng-model='trust.freezeFlag')
                          option(value='') No change
                          option(value='tfSetFreeze') Freeze trust line
                          option(value='tfClearFreeze') Unfreeze trust line
                      .col-sm-1.form-group-sm
                        label(for='edit_auth', l10n) Authorize
                        select.form-control#edit_auth(name='edit_auth', ng-model='trust.authFlag'
                        ng-disabled='(onlineMode && disallowAuth)')
                          option(value='') No change
                          option(value='tfSetfAuth') Authorize trust line
                    .row.row-padding-small
                      .col-sm-offset-4.col-sm-4
                        button.btn.btn-block.btn-primary#save(type='submit'
                        ng-disabled='accountForm.$invalid || trust.loading')
                          span(ng-hide="trust.loading", l10n) Save
                          span(ng-show="trust.loading", l10n) Saving...
                      .col-sm-2(ng-hide="trust.loading")
                        .row.text-right
                          .col-xs-12(ng-show='trust.balance !== "0" && orderbookStatus === "exists" && onlineMode')
                            rp-confirm(
                            action-text="Are you sure you want to remove this trust line? Ripple Admin Console will attempt to convert the remaining balance of {{ trust.balance }} {{ currency }} into LGD. This action can't be undone."
                            action-button-text="Convert balance and remove"
                            action-button-css="btn btn-default btn-danger"
                            action-function="delete_account()"
                            cancel-button-css="btn btn-cancel"
                            cancel-button-text="cancel"
                            ng-hide="showPassword==true")
                              button.btn.btn-block.btn-danger.btn-xs.submit(type="button", ng-click="load_orderbook()", l10n) Remove
                          .col-xs-12(ng-show='trust.balance !== "0" && orderbookStatus === "not" && onlineMode')
                            rp-confirm(
                            action-text="Are you sure you want to remove this trust line? Ripple Admin Console will return the balance of {{ trust.balance }} {{ currency }} to the issuer. This action can't be undone."
                            action-button-text="Return balance and remove"
                            action-button-css="btn btn-default btn-danger"
                            action-function="delete_account()"
                            cancel-button-css="btn btn-link"
                            cancel-button-text="cancel"
                            ng-hide="showPassword==true")
                              button.btn.btn-block.btn-danger.btn-xs.submit(type="button", ng-click="load_orderbook()", l10n) Remove
                          .col-xs-12(ng-show='trust.balance === "0" && onlineMode')
                            rp-confirm(
                            action-text="Are you sure you want to remove this trust line? This action can't be undone."
                            action-button-text="Remove"
                            action-button-css="btn btn-default btn-danger "
                            action-function="delete_account()"
                            cancel-button-css="btn btn-default cancel-btn btn-cancel"
                            cancel-button-text="cancel"
                            ng-hide="showPassword==true")
                              button.btn.btn-block.btn-danger.btn-xs.submit(type="button", ng-click="load_orderbook()", l10n) Remove
                          .col-xs-12(ng-show='!onlineMode')
                            rp-confirm(
                            action-text="Are you sure you want to remove this trust line? This action can't be undone."
                            action-button-text="Remove"
                            action-button-css="btn btn-default btn-danger "
                            action-function="delete_account()"
                            cancel-button-css="btn btn-default cancel-btn btn-cancel"
                            cancel-button-text="cancel"
                            ng-hide="showPassword==true")
                              button.btn.btn-block.btn-danger.btn-xs.submit(type="button", ng-click="load_orderbook()", ng-disabled='accountForm.$invalid || trust.loading', l10n) Remove
                      .col-sm-1
                        a.btn.btn-block.btn-cancel(href="", ng-click="cancel()"
                        ng-disabled="trust.loading", l10n) cancel